form {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

p {
  font-weight: bold;
  text-align: center;
  color: #666;
}
.logo img {
  width: 100px; /* Adjust the width to your liking */
  height: auto;
  animation: rotate 10s linear infinite;
}
.logo {
display: flex;
justify-content: center;
align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
